---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Joel Thomas and I am an avid reader, a student, a software engineer and a security professional. Previously, I worked at Amazon as a security engineer where I got the opportunity to work on some amazing projects, and with some amazing people. Currently, I am on a mission to help others lead healthy and happy lives through the use of technology and advancements in medicine.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Artificial Intelligence"
      subtitle="University of Adelaide, Adelaide, Australia"
    />
    <TimeLineElement
      title="Master of Science in Cybersecurity"
      subtitle="Northeastern University, Boston, USA"
    />
    <TimeLineElement
      title="Bachelor of Technology in Computer Science and Engineering"
      subtitle="Kerala Technological University, Kerala, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Security Engineer"
      subtitle="Amazon, New York, USA"
    >
    <ul style="list-style-type:circle">
      <li>Evaluated designs and threat modeled microservices in AWS and legacy systems</li>
    <li>Worked with Privacy and Pentest teams to improve processes for security evaluation</li>
    <li>Performed manual code review, automated code review and security testing on AWS systems</li>
    <li>Conducted mentoring and training sessions to onboard new security engineers</li>
    <li>Analyzed datasets using internal tools and SparkQL for identification of teams
    requiring security support </li>
    <li>Provided security consultation to Amazon teams on technical designs, processes and risks</li>
  </ul><br>
  </TimeLineElement>
    <TimeLineElement
      title="Seurity Engineer Intern"
      subtitle="Amazon, Boston, USA"
    >
    <ul style="list-style-type:circle">
    <li>Conducted a gap analysis of the existing risk assessment process in the company</li>
      <li>Created surveys and interviewed stakeholders for improvements to the risk assessment
    process</li>
    <li>Worked with Program Managers and Developers to assess feasibility and estimate timelines for
    implementation </li>
    <li>Performed end-to-end testing on feature updates to the risk assessment tooling</li>
  </ul><br>
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="Northeastern University, Boston, USA"
    >
    <ul style="list-style-type:circle">
    <li>Conducted Office hours for Theory of Computation Class</li>
      <li>Graded assignments and final exams</li>
        <li>Proctored and provided support to the students attending exams</li> 
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> AWS Cloud Practitioner</a>
    </li>
    </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
  
  </ul>
</BaseLayout>
